<div class="content p-3">
    <h3 class="content-title">Moving In</h3>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Fullname:</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Unit:</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Move in Date:</span>
        </div>
        <input type="date" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Due Date:</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Length of Stay:</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <h5>Payment:</h5>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Contact Number:</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Monthly Rent:</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Elevator Monthly Rent:</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="flex-hs">
        <h4>Total:</h4>
        <h4>P 0.00</h4>
    </div>

    <button type="button" class="btn btn-success btn-style">Submit</button>
</div>

<style scoped>
    .flex-hs {
        border: 1px solid rgb(192, 192, 192);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        flex-direction: row;
    }
    .flex-hs h4 {
        margin: 0;
    }
    .content-title {
        text-align: center;
    }
    .content {
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 931px;
        height: fit-content;
        flex-shrink: 0;
    }
</style>