<div class="container-box">
    <h4>Billing Statement</h4>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Name</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Unit</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Monthly Rent:</span>
      </div>
      <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <!-- Water Sub-meter Reading -->
    <p>Water Sub-meter Reading</p>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Price/m3: </span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="P 60.00" disabled>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Previous Reading: </span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="P 0.00" disabled>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Present Reading: </span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Consume m3/Month: </span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Water Sub-meter Amount: </span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
    <!-- Water Sub-meter Reading -->

    <!-- Electric Sub-meter Reading -->
    <p>Electric Sub-meter Reading</p>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Price/KWH: </span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="P 18.00" disabled>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Previous Reading: </span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="P 0.00" disabled>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Present Reading: </span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Consume KWH/Month: </span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Electric Sub-meter Amount:</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
    <!-- Electric Sub-meter Reading -->

    <p>Elevator Monthly Payment</p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Elevator Monthly Payment:</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="total-container">
        <p>
            Total:
        </p>
        <p class="total-val">
            <strong>P 0.00</strong>
        </p>
    </div>

    <button type="button" class="btn btn-success btn-style">Submit</button>
</div>

<style scoped>
    .total-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }
    .total-container p {
        margin: 0;
        padding: 0;
        width: fit-content;
    }
    .container-box {
        width: 400px;
        height: 424px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 20px 10px;
    }
    .btn-style {
        float: right;
        margin: 10px;
        width: 100px;
        border-radius: 10px;
    }
</style>