{{extend 'layout.html'}}

<div class="container-fluid content-container">
    <a href="{{=URL('ceo','ceo_branches')}}" class="return-btn" style="text-decoration: none;"><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>
    <button type="button" class="update-btn"><strong>Update</strong></button>
    <div class="margin-top-mobile"></div>
    <h2 class="text-center title-style">(Branch) <input type="date" class="date-pciker-style"> Monthly Report</h2>
    <div class="content-accounting flex-horizontal">
        {{include 'ceo/component/monthly_report_table.html'}}
    </div>
    <section class="spikes"></section>
</div>

<style scoped>  
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    .content-container {
        height: fit-content;
        padding: 0 0 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .flex-v {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .flex-horizontal {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        width: 100%;
    }
    .content-accounting {
        width: 100%;
    }
    .title-style {
        font-family: Roboto;
        font-weight: 700;
        background-color: #FFF;
        padding: 10px;
        border-radius: 20px;
    }
    .spikes {
        position: relative;
        background: #ffffff;
        height: 50px;
        width: 100%;
    }

    .spikes::after {
        content: '';
        position: absolute;
        right: 0;
        left: -0%;
        top: 100%;
        z-index: 10;
        display: block;
        height: 50px;
        background-size: 50px 100%;
        background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%), 
                        linear-gradient(225deg, #ffffff 25%, transparent 25%);
        background-position: 0 0;
    }
    .update-btn {
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 80px;
        right: 20px;
    }
    .update-btn:hover {
        border: 3px solid #3189FB;
    }
    .return-btn {
        width: 70px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 80px;
        left: 20px;
    }
    .return-btn:hover {
        border: 3px solid #3189FB;
    }
    .date-pciker-style {
        border-radius: 10px;
        padding: 10px;
        outline: none;
        border: none;
        width: 240px;
    }
    @media only screen and (max-width: 1080px) {
        .sm-screen {
            flex-direction: column;
        }
        .margin-top-mobile {
            margin-top: 50px;
        }
    }
</style>